# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
client/.next/
client/out/

# production
/build
/dist/
server/dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.prod

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# log files
*.log
logs/
server/logs/

# IDE
.vscode/
!.vscode/settings.json
.idea/
.cursor/
